/.idea/.idea.Unity-URP-Study/.idea/*.gitignore
/.idea/.idea.Unity-URP-Study/.idea/*.xml
/.vs/Unity-URP-Study/v16/*.suo
/*.vsconfig
/*.csproj
/.idea
/.vs
/Library
/Logs
/obj
/Packages
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/Unity-URP-Study.sln
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.Player.csproj
/Unity.RenderPipelines.HighDefinition.Editor.csproj
/Unity.RenderPipelines.HighDefinition.Editor.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Player.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Unity.RenderPipelines.Universal.Editor.csproj
/Unity.RenderPipelines.Universal.Editor.Tests.csproj
/Unity.RenderPipelines.Universal.Runtime.csproj
/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
/Unity.RenderPipelines.Universal.Runtime.Tests.Player.csproj
/Unity.RenderPipelines.Universal.Shaders.csproj
/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Editor.Tests.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.VisualEffectGraph.Editor.csproj
/Unity.VisualEffectGraph.Editor.Tests.csproj
/Unity.VisualEffectGraph.Runtime.csproj
/Unity.VisualEffectGraph.Runtime.Player.csproj
/Unity.VisualEffectGraph.Runtime.Tests.csproj
/UnityEditor.UI.EditorTests.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.Player.csproj
/UnityEngine.UI.Tests.csproj
/*.sln
/ProjectSettings/ProjectVersion.txt
/Prj2019.4/.idea
/Prj2019.4/.vs
/Prj2019.4/Library
/Prj2019.4/obj
/Prj2019.4/Packages
/Prj2019.4/ProjectSettings/ProjectVersion.txt
/Prj2019.4/Assembly-CSharp.csproj
/Prj2019.4/Assembly-CSharp.Player.csproj
/Prj2019.4/Assembly-CSharp-Editor.csproj
/Prj2019.4/Prj2019.4.sln
/Prj2019.4/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Prj2019.4/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Prj2019.4/Unity.RenderPipelines.Core.Editor.csproj
/Prj2019.4/Unity.RenderPipelines.Core.Runtime.csproj
/Prj2019.4/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Prj2019.4/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Prj2019.4/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Prj2019.4/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Prj2019.4/Unity.RenderPipelines.HighDefinition.Config.Runtime.Player.csproj
/Prj2019.4/Unity.RenderPipelines.HighDefinition.Editor.csproj
/Prj2019.4/Unity.RenderPipelines.HighDefinition.Runtime.csproj
/Prj2019.4/Unity.RenderPipelines.HighDefinition.Runtime.Player.csproj
/Prj2019.4/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Prj2019.4/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Prj2019.4/Unity.RenderPipelines.Universal.Editor.csproj
/Prj2019.4/Unity.RenderPipelines.Universal.Runtime.csproj
/Prj2019.4/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Prj2019.4/Unity.RenderPipelines.Universal.Shaders.csproj
/Prj2019.4/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Prj2019.4/Unity.Rider.Editor.csproj
/Prj2019.4/Unity.ShaderGraph.Editor.csproj
/Prj2019.4/Unity.ShaderGraph.Editor.Tests.csproj
/Prj2019.4/Unity.ShaderGraph.Utilities.csproj
/Prj2019.4/Unity.VisualEffectGraph.Editor.csproj
/Prj2019.4/Unity.VisualEffectGraph.Runtime.csproj
/Prj2019.4/Unity.VisualEffectGraph.Runtime.Player.csproj
/Prj2019.4/UnityEditor.UI.csproj
/Prj2019.4/UnityEditor.UI.EditorTests.csproj
/Prj2019.4/UnityEngine.UI.csproj
/Prj2019.4/UnityEngine.UI.Player.csproj
/Prj2019.4/UnityEngine.UI.Tests.csproj
/Prj2019.4/Temp
/Prj2021.2/UnityEngine.UI.Tests.Player.csproj
/Prj2021.2/Assembly-CSharp.csproj
/Prj2021.2/Assembly-CSharp.Player.csproj
/Prj2021.2/Assembly-CSharp-Editor.csproj
/Prj2021.2/DocCodeExamples.Player.csproj
/Prj2021.2/PPv2URPConverters.csproj
/Prj2021.2/Prj2021.2.sln
/Prj2021.2/SeparateAssembly.Player.csproj
/Prj2021.2/Unity.Burst.CodeGen.csproj
/Prj2021.2/Unity.Burst.csproj
/Prj2021.2/Unity.Burst.Editor.csproj
/Prj2021.2/Unity.Burst.Editor.Tests.Player.csproj
/Prj2021.2/Unity.Burst.Player.csproj
/Prj2021.2/Unity.Burst.Tests.UnitTests.Player.csproj
/Prj2021.2/Unity.CollabProxy.Editor.csproj
/Prj2021.2/Unity.CollabProxy.EditorTests.Player.csproj
/Prj2021.2/Unity.Mathematics.csproj
/Prj2021.2/Unity.Mathematics.Editor.csproj
/Prj2021.2/Unity.Mathematics.Player.csproj
/Prj2021.2/Unity.Mathematics.Tests.Player.csproj
/Prj2021.2/Unity.PlasticSCM.Editor.csproj
/Prj2021.2/Unity.PlasticSCM.EditorTests.Player.csproj
/Prj2021.2/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Prj2021.2/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Editor.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Editor.Tests.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Runtime.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Runtime.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Runtime.Tests.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Prj2021.2/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/Prj2021.2/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Prj2021.2/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Editor.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Editor.Tests.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Runtime.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Runtime.Tests.Player.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Shaders.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/Prj2021.2/Unity.Rider.Editor.csproj
/Prj2021.2/Unity.Searcher.Editor.csproj
/Prj2021.2/Unity.Searcher.EditorTests.Player.csproj
/Prj2021.2/Unity.Services.Core.Editor.csproj
/Prj2021.2/Unity.ShaderGraph.Editor.csproj
/Prj2021.2/Unity.ShaderGraph.Editor.Tests.Player.csproj
/Prj2021.2/Unity.ShaderGraph.Utilities.csproj
/Prj2021.2/Unity.TextMeshPro.csproj
/Prj2021.2/Unity.TextMeshPro.Editor.csproj
/Prj2021.2/Unity.TextMeshPro.Editor.Tests.Player.csproj
/Prj2021.2/Unity.TextMeshPro.Player.csproj
/Prj2021.2/Unity.TextMeshPro.Tests.Player.csproj
/Prj2021.2/Unity.Timeline.csproj
/Prj2021.2/Unity.Timeline.Editor.csproj
/Prj2021.2/Unity.Timeline.Player.csproj
/Prj2021.2/Unity.VisualScripting.Core.csproj
/Prj2021.2/Unity.VisualScripting.Core.Editor.csproj
/Prj2021.2/Unity.VisualScripting.Core.Player.csproj
/Prj2021.2/Unity.VisualScripting.Flow.csproj
/Prj2021.2/Unity.VisualScripting.Flow.Editor.csproj
/Prj2021.2/Unity.VisualScripting.Flow.Player.csproj
/Prj2021.2/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Prj2021.2/Unity.VisualScripting.Shared.Editor.csproj
/Prj2021.2/Unity.VisualScripting.State.csproj
/Prj2021.2/Unity.VisualScripting.State.Editor.csproj
/Prj2021.2/Unity.VisualScripting.State.Player.csproj
/Prj2021.2/Unity.VisualStudio.Editor.csproj
/Prj2021.2/Unity.VSCode.Editor.csproj
/Prj2021.2/UnityEditor.TestRunner.csproj
/Prj2021.2/UnityEditor.UI.csproj
/Prj2021.2/UnityEditor.UI.EditorTests.Player.csproj
/Prj2021.2/UnityEngine.TestRunner.csproj
/Prj2021.2/UnityEngine.TestRunner.Player.csproj
/Prj2021.2/UnityEngine.UI.csproj
/Prj2021.2/UnityEngine.UI.Player.csproj
/Prj2021.2/.idea
/Prj2021.2/Library
/Prj2021.2/Logs
/Prj2021.2/obj
/Prj2021.2/Temp
/Prj2021.2/UserSettings
/Prj2021.2/SeparateAssembly.csproj
/Prj2021.2/Unity.Burst.Editor.Tests.csproj
/Prj2021.2/Unity.Burst.Tests.UnitTests.csproj
/Prj2021.2/Unity.Mathematics.Tests.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Prj2021.2/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Editor.Tests.csproj
/Prj2021.2/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
/Prj2021.2/Unity.Searcher.EditorTests.csproj
/Prj2021.2/Unity.ShaderGraph.Editor.Tests.csproj
/Prj2019.4
/URP-Prj2019.4/Temp
/URP-Prj2019.4/Library
/URP-Prj2019.4/Logs
/URP-Prj2021.2/Temp
/URP-Prj2021.2/Library
/URP-Prj2021.2/Logs
/URP-Prj2021.2/UserSettings
